
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

   
<form asp-action="Aceptar">
    <label>Codigo</label>
    <input type="text" name="Codigo" />
    <label>Siglas</label>
    <input type="text" name="Siglas" />
    <label>Nombre</label>
    <input type="text" name="Nombre"/>
    <label>Cursos</label>
    <input type="number" name="cursos" />
    <button>Crear</button>
</form>
