@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Login">
    <div class="form-group">
        <label for="Email">Correo electrónico</label>
        <input type="email" id="Email" name="Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Iniciar sesión</button>
</form>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<a asp-action="Register">Registrarse</a>